<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="./lib/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/main.css">

</head>
<body>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Wow A CoffeeScript Project!</h1>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptates, quaerat deleniti fugiat officia. Voluptates aliquam ex, porro, fugit, beatae, quidem vero voluptatem nam consequuntur veritatis vel. Asperiores natus alias libero necessitatibus provident! Rem perspiciatis itaque eos neque, accusantium enim est ea nulla, expedita ipsam corporis ducimus, totam omnis dolorem.
      </p>
    </div>
  </div>

  <!-- Chart container for viz -->
  <div class="container">
    <div id="chart"></div>
    <hr>
    <footer>
      <p>&copy; Urban Institute 2014</p>
    </footer>
  </div>

  <script src="lib/vendor/d3/d3.min.js"></script>
  <script src="lib/vendor/jquery/jquery.min.js"></script>
  <script src="lib/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/main.js"></script>

</body>
</html>

